spring:
    application:
        name: apigateway
    cloud:
        gateway:
            routes:
                -   id: userservice
                    uri: lb://USERSERVICE
                    predicates:
                        - Path=/api/users/**

                -   id: activityservice
                    uri: lb://ACTIVITYSERVICE
                    predicates:
                        - Path=/api/activities/**

                -   id: aiservice
                    uri: lb://AISERVICE
                    predicates:
                        - Path=/api/recommendations/**
            globalcors:
                corsConfigurations:
                    '[/**]':
                        allowedOrigins: 
                            - "http://localhost:3000"
                            - "http://20.81.154.220:3000"
                        allowedMethods:
                            - GET
                            - POST
                            - PUT
                            - DELETE
                            - OPTIONS
                        allowedHeaders: "*"
                        allowCredentials: true

server:
    port: 8080

eureka:
    client:
        serviceUrl:
            defaultZone: http://localhost:8761/eureka/